<h1>IdeaBox2.0</h1>
  <input type='text' id='search' value='Search'>
  <div class='creating'>
    Title:<input type='text' id='idea-title'>
    Body:<input type='text' id='idea-body'>
    <input type='button' value='Create' id='create'>
  </div>
<div class='ideas' id='ideas'>
</div>
