<h1>IdeaBox2.0</h1>
  <%= text_field_tag(:search, nil, placeholder: 'Search') %>
  <div class='creating'>
    <%= text_field_tag(:title, nil, placeholder: 'Title', id:'idea-title') %>
    <%= text_area_tag(:body, nil, placeholder: 'Body', id:'idea-body') %>
    <input type='button' value='Create' id='create'>
  </div>
<div class='ideas' id='ideas'>
</div>
